---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: skytorch-operator
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/component: manager
    app.kubernetes.io/part-of: skytorch
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: operator
      app.kubernetes.io/component: manager
      app.kubernetes.io/part-of: skytorch
  template:
    metadata:
      labels:
        app.kubernetes.io/name: operator
        app.kubernetes.io/component: manager
        app.kubernetes.io/part-of: skytorch
    spec:
      containers:
        - name: manager
          image: ghcr.io/astefanutti/skytorch-operator
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 3
      serviceAccountName: skytorch-operator
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: skytorch-webhook-cert
---
apiVersion: v1
kind: Service
metadata:
  name: skytorch-operator
spec:
  ports:
    - name: monitoring-port
      port: 8080
      targetPort: 8080
    - name: webhook-server
      port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    app.kubernetes.io/component: manager
