name: build-and-run-it-tests

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'LICENSE'

concurrency:
  group: ${{ github.head_ref || github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  it-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref || github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install KPU dependencies
        run: |
          pip install --extra-index-url https://download.pytorch.org/whl/cpu -e ".[test,torch]"

      - name: Build KPU PyTorch Backend
        run: |
          python kpu/torch/backend/setup.py build_ext --inplace

      - name: Run Integration tests
        run: |
          pytest test/it -v -m it
