name: build-and-push-images

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'LICENSE'

jobs:
  operator_image:
    if: github.repository_owner == 'astefanutti'
    name: Build and push operator container image
    runs-on: ubuntu-latest
    env:
      working-directory: .
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ github.token }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: ${{env.working-directory}}/go.mod

      - name: Get dependencies
        run: go mod download

      - name: Build linux/amd64 operator binary
        env:
          CGO_ENABLED: 1
          GOOS: linux
          GOARCH: amd64
        run: |
          CGO_ENABLED=$CGO_ENABLED GOOS=$GOOS GOARCH=$GOARCH go build -tags strictfipsruntime -a -o cmd/operator/manager-$GOARCH cmd/operator/main.go

      - name: Build linux/arm64 operator binary
        env:
          CC: aarch64-linux-gnu-gcc
          CGO_ENABLED: 1
          GOOS: linux
          GOARCH: arm64
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu libc6-dev-arm64-cross
          CC=$CC CGO_ENABLED=$CGO_ENABLED GOOS=$GOOS GOARCH=$GOARCH go build -tags strictfipsruntime -a -o cmd/operator/manager-$GOARCH cmd/operator/main.go

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Container image metadata
        uses: docker/metadata-action@v5
        id: metadata
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/kpu-operator
          tags: |
            type=ref,event=branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}

      - name: Build and push multi-architecture container image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ${{env.working-directory}}/cmd/operator
          file: ${{env.working-directory}}/cmd/operator/Containerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha,scope=${{ github.ref_name }}
          cache-to: type=gha,scope=${{ github.ref_name }},mode=max
          provenance: false
